{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <div class="profile-user-info profile-user-info-striped" style="width:600px">
        <div class="profile-info-row"> 
        <div class="profile-info-name">ID</div>
        <div class="profile-info-value">{{ entity.id }}</div></div>
        
        <div class="profile-info-row"> 
        <div class="profile-info-name">Tipo Documento</div>
        <div class="profile-info-value">{{ entity.tipoDocumento }}</div></div>
        
        <div class="profile-info-row"> 
        <div class="profile-info-name">Documento</div>
        <div class="profile-info-value">{{ entity.documento }}</div></div>
        
        <div class="profile-info-row"> 
        <div class="profile-info-name">Lugar Exp</div>
        <div class="profile-info-value">: {{ entity.expedicionLugar }}</div></div>
        
        <div class="profile-info-row"> 
        <div class="profile-info-name">Fecha Exp</div>
        <div class="profile-info-value">: {{ entity.expedicionDate|date('Y-m-d') }}</div></div>
        
        <div class="profile-info-row">
        <div class="profile-info-name">Nombres</div>
        <div class="profile-info-value">{{ entity.primerNombre }}</div></div> 
            
        <div class="profile-info-row">
        <div class="profile-info-name">Apellidos</div>
        <div class="profile-info-value">{{ entity.primerApellido }}</div></div>
        
        <div class="profile-info-row">
        <div class="profile-info-name">Genero</div>
        <div class="profile-info-value">: {{ entity.genero }}</div></div>
        
        <div class="profile-info-row">
        <div class="profile-info-name">Fecha Nac</div>
        <div class="profile-info-value">{{ entity.fechaNacimiento|date('Y-m-d') }}</div></div>
        
    </div>
   
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_security_userdet') }}">
            Regresar
        </a>
    </li>
    <li>
        <a href="{{ path('admin_security_userdet_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('admin_security_userdet_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
