{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cdp</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Objeto</th>
                <td>{{ entity.objeto }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Oficio</th>
                <td>{{ entity.oficio }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ entity.updateat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cdp') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cdp_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
