{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-7">
<div class="widget-box">
    <div class="widget-header">
        <h4>Informe</h4>
        <span class="widget-toolbar"> 
            </span>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <p>
                                <label>Fecha y hora de env&iacute;o</label>
                                <span>{{ entity.createdat|date('d-m-Y H:i:s') }}</span>
                </p>
                                    <a href="{{ asset('uploads/documents/') }}{{ entity.path }}" target="_blank" >Ver documento</a>
                          
                                    
                                    <!-- <iframe src="http://docs.google.com/gview?url=http://contratacion/{{ asset('uploads/documents/') }}{{ entity.path }}&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe></td> -->
                       
                
            </div>
                <div class="widget-toolbox padding-8 clearfix">
            {% if (is_expr_granted("hasRole('ROLE_CONTRATISTA')")) -%}
            {% if entity.pago.estado != 100 %}
                {{ form(delete_form) }}
            {% endif %}
            {% endif %}   
                </div>
        </div>
    </div>
        </div>
    </div>



{% endblock %}

{% block breadcumbs %}
    <ul class="pagination-sm">
        <li>


            <a href="{{ path('pago_show', { 'id': entity.pago.id }) }}">Regresar</a>

        </li>
    </ul>
{% endblock %}
