{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header span8">
    <h1>Area </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.sigla }}</td>
                <td>
                        <a href="{{ path('area_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('area_new') }}">
                Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
