{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-sm-7">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Subir Certificado de Cumplimiento</h4>
                <span class="widget-toolbar"> 
                </span>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">


                    <form action="{{ path('cumplimiento_upload', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                        <input type="hidden" name="_method" value="PUT" />
        {% if form_errors(edit_form) %}
                        <div class="alert alert-danger">{{ form_errors(edit_form) }}</div>
        {% endif %}
                        

                        <fieldset>
                    {{ form_label(edit_form.file)}}
                    {{ form_widget(edit_form.file)}}
                                {% if form_errors(edit_form.file) %}
                                <div class="alert alert-danger">{{ form_errors(edit_form.file) }}</div>    
                                {% endif %}
                            </fieldset>
               {{form_widget(edit_form._token)}}

                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        {{ form_widget(edit_form.submit)}}

                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block breadcumbs %}
<ul class="record_actions">
    <li>
            <a href="{{ path('cumplimiento_showByPago', { 'id': app.session.get('pagoId') }) }}">Regresar</a>

    </li>
</ul>
{% endblock %}

