	<head>
		<meta charset="utf-8" />
		<!--basic styles-->
                <link href="{{asset('/css/estilos.css')}}" rel="stylesheet" type="text/css" />
        </head>         
{% block body -%}
<table class="tablatitulo" width="100%">
  <tr>
    <td rowspan="3"><div align="center"><img src="{{asset('/img/logoreportheader.png')}}" width="125" height="108" /></div></td>
    <td rowspan="3"><b><p align="center">CERTIFICACIÓN PARA EFECTOS DE DISMINUCIÓN<br> DE LA BASE DE RETENCIÓN EN LA FUENTE</p>
    </b></td>
    <td><p>Código: </p></td>
  </tr>
  <tr>
    <td><p>Versión: 2</p></td>
  </tr>
  <tr>
    <td><p>Pág. 1 de 1 </p></td>
  </tr>
</table>
<br>
<table class="tabla" width="100%" style="border-style:solid; border-width:thin">

  <tr>
        <td colspan="4"><p>Señores:</p></td>
  </tr>
      <tr>
        <td colspan="4"><p><b>INSTITUTO DISTRITAL DE PATRIMONIO CULTURAL</b></p></td>
      </tr>
      <tr>
        <td colspan="4">Bogotá, D.C.</td>
      </tr>
      <tr>
        <td colspan="4"><b>NOMBRE: {{ pago.contrato.estudio.contratista.primerApellido }}, {{ pago.contrato.estudio.contratista.primerNombre }}</b></td>
      </tr>
      <tr>
        <td colspan="2"><b>DOCUMENTO: {{ pago.contrato.estudio.contratista.documento }}</b></td>
        <td colspan="2"><b>CONTRATO No: {{ pago.contrato.numero }}</b></td>
      </tr>
      <tr>
        <td colspan="4"><p><b>En atención al artículo 329 del Estatuto Tributario,  certifico que pertenezco a la categoria de:</b><b><br />
        </b></p></td>
      </tr>
      <tr>
        <td colspan="2">Empleado:  {% if pago.certificacion.categoria == 'empleado' %}<b>X<b/>{%endif%}</td>
        <td colspan="2">Trabajador por cuenta propia:  {% if pago.certificacion.categoria == 'independiente' %}<b>X<b/>{%endif%}</td>
      </tr>
      <tr>
        <td colspan="2">Declarante del Impuesto de Renta: {% if pago.certificacion.declararenta == '1' %}<b>X<b/>{%endif%}</td>
        <td colspan="2">No declarante del Impuesto de Renta:  {% if not pago.certificacion.declararenta == '0' %}<b>X<b/>{%endif%}</td>
      </tr>
      <tr>
        <td colspan="4">De conformidad con la Ley 1607 de 2012 y sus Decretos Reglamentarios 099 y 1070 de 2013, CERTIFICO bajo la gravedad del juramento que la información aquí consignada y sobre la cual solicito disminución de la base de retención en la fuente es verdadera.</td>
      </tr>
     
      <tr>
          <td colspan="4">
              
              
                  <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Pago Minimo</th>
                <th>Entidad</th>
                <th>Valor Pagado</th>
            </tr>
        </thead>
        <tbody>
            {% set tot = 0 %}
            {% set tot1 = 0 %}
        {% for entity in pago.aportes %}
           {% set tot = tot + entity.valor %}
            {% set tot1 = tot1 + entity.limite %}
            <tr>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.limite |number_format(0, ',', '.') }}</td>
                <td>{{ entity.Referencia }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.') }}</td>

            </tr>
        {% endfor %}
                    <tr>
                <td></td>
                <td style="text-align: right">Total Aportes Obligatorios: </td>
                <td>{{tot1 |number_format(0, ',', '.')}}</td>
                <td style="text-align: right">Total Aportes Pagados: </td>
                <td>{{tot |number_format(0, ',', '.')}}</td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>  
              
          </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4"> __________________________ <br />
          FIRMA </td>
      </tr>
</table>

{{total}}
{% endblock %}
