{% extends '::base.html.twig' %}
{% block body -%}
    <h3>Pago de aportes obligatorios a pago de {{ pago.contrato.estudio.contratista.documento }}
    por valor de {{pago.valor |number_format(0, ',', '.')}} del perido {% if pago.fechaInicio %}{{ pago.fechaInicio|date('M-Y') }}{% endif %}</h3>
<h3>IBC: {{(pago.valor*0.40)|number_format(0, ',', '.')}}</h3>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Pago Minimo</th>
                <th>Entidad</th>
                <th>Valor Pagado</th>
                <th>Soporte</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% set tot = 0 %}
            {% set tot1 = 0 %}
        {% for entity in entities %}
           {% set tot = tot + entity.valor %}
            {% set tot1 = tot1 + entity.limite %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.limite |number_format(0, ',', '.') }}</td>
                <td>{{ entity.Referencia }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.') }}</td>
                <td>
                {%if entity.path%}
                    <button class="btn btn-link no-border" data-toggle="modal" data-target="#mm{{ entity.id }}">Ver Adjunto</button>
<div class="modal fade" id="mm{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body"><iframe src="/uploads/aportes/{{ entity.path }}" width="850" height="630" frameborder="0" allowtransparency="true"></iframe>
      </div></div></div></div>
                {%endif%}
                </td>
                <td>
                   {%if entity.Referencia %}
                   <a href="{{ path('aportes_borrar', { 'id': entity.id }) }}" class="btn btn-sm btn-purple">
                   Borrar<i class="icon-trash icon-on-right bigger-110"></i></a>
                   {%else%}  
    <button class="btn btn-sm" data-toggle="modal" data-target="#m{{ entity.tipo }}">Registrar</button>
    {%endif%}
                </td>
            </tr>
        {% endfor %}
            
                    <tr>
                <td></td>
                <td style="text-align: right">Total Aportes Obligatorios: </td>
                <td>{{tot1 |number_format(0, ',', '.')}}</td>
                <td style="text-align: right">Total Aportes Pagados: </td>
                <td>{{tot |number_format(0, ',', '.')}}</td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>
{%if pago.certificacion %}
<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mCertificadopdf">
Ver Certificado de Aportes
</button>
<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mCertificadosubir">
Cargar Certificado Firmado
</button>
{%else%}
<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mCertificado">
Certificado de Aportes
</button>
 {%endif%}   
<!-- Modal SAlud -->
<div class="modal fade" id="mSalud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de Salud</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'Salud'%}     
 <iframe src="{{ path('aportes_salud', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->    


<!-- Modal Pensión-->
<div class="modal fade" id="mPensión" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de Pensión</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'Pensión'%}     
 <iframe src="{{ path('aportes_pension', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 


<!-- Modal ARL-->
<div class="modal fade" id="mARL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de ARL</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'ARL'%}     
 <iframe src="{{ path('aportes_arl', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<!-- Modal Certificado-->
<div class="modal fade" id="mCertificado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Generar certificado de Aportes</h4>
  </div>
  <div class="modal-body">
<iframe src="{{ path('certificacion_new', { 'id': pago.id }) }}" width="540" height="330" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload();" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 


<!-- Modal Certificado pdf-->
<div class="modal fade" id="mCertificadopdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Ver certificado de Aportes</h4>
  </div>
  <div class="modal-body">
<iframe src="{{ path('certificacion_pdf', { 'id': pago.id }) }}" width="840" height="330" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload();" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<!-- Modal Certificado Subir-->
<div class="bootbox modal fade in" id="mCertificadosubir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Ver certificado de Aportes</h4>
  </div>
  <div class="modal-body">
<iframe src="{{ path('certificacion_subirform', { 'id': pago.id }) }}" width="840" height="330" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload();" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% endblock %}
