{% extends '::base.html.twig' %}
{% block body -%}

    <h1>Aportes Al Pago de: {{pago.valor |number_format(0, ',', '.')}}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Pago Minimo</th>
                <th>Entidad</th>
                <th>Valor Pagado</th>
                <th>Adjunto</th>
                <th>Ingresar</th>
            </tr>
        </thead>
        <tbody>
            {% set tot = 0 %}
        {% for entity in entities %}
           {% set tot = tot + entity.valor %} 
            <tr>
                <td><a href="{{ path('aportes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.limite |number_format(0, ',', '.') }}</td>
                <td>{{ entity.Referencia }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.') }}</td>
                <td>{{ entity.path }}</td>
                <td>
    <button class="btn btn-sm" data-toggle="modal" data-target="#m{{ entity.tipo }}">
Registrar
</button>
       
                </td>
            </tr>
        {% endfor %}
            
                    <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right">Total Aportes: </td>
                <td>{{tot |number_format(0, ',', '.')}}</td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>

<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mCertificado">
Generar Certificado
</button>
    
<!-- Modal SAlud -->
<div class="modal fade" id="mSalud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de Salud</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'Salud'%}     
 <iframe src="{{ path('aportes_salud', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->    


<!-- Modal Pensi贸n-->
<div class="modal fade" id="mPensi贸n" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de Pensi贸n</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'Pensi贸n'%}     
 <iframe src="{{ path('aportes_pension', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 


<!-- Modal ARL-->
<div class="modal fade" id="mARL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aportes de ARL</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'ARL'%}     
 <iframe src="{{ path('aportes_arl', { 'id': entity.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe>
 {%endif%}
 {%endfor%} 
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<!-- Modal Certificado-->
<div class="modal fade" id="mCertificado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Certificado</h4>
  </div>
  <div class="modal-body">
 {% for entity in entities %}
 {%if entity.tipo == 'ARL'%}     
<iframe src="{{ path('aportes_certifica', { 'id': entities[0].pago.id }) }}" width="550" height="250" frameborder="0" allowtransparency="true" scrolling=no></iframe> {%endif%}
 {%endfor%} 
  </div>
  <div class="modal-footer">
    <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
   
{% endblock %}
