{% block body -%}
		<!--basic styles-->

		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" />
		<link href="{{asset('css/bootstrap-responsive.min.css')}}" rel="stylesheet" />
		<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{asset('css/font-awesome-ie7.min.css')}}" />
		<![endif]-->
		<!--page specific plugin styles-->
		<!--fonts-->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!--ace styles-->

		<link rel="stylesheet" href="{{asset('css/ace.min.css')}}" />
		<link rel="stylesheet" href="{{asset('css/ace-responsive.min.css')}}" />
		<link rel="stylesheet" href="{{asset('css/ace-skins.min.css')}}" />
		<link rel="stylesheet" href="{{asset('css/custom-theme/jquery-ui-1.10.0.custom.css')}}" />
		<link rel="stylesheet" href="{{asset('css/ui.jqgrid.css')}}" />
		<link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}" />
		<link rel="stylesheet" href="{{asset('css/select2.css')}}" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{asset('css/ace-ie.min.css')}}" />
		  <link rel="stylesheet" href="{{asset('css/css/custom-theme/jquery-ui-1.10.0.custom.ie
		  .css')}}" />
		<![endif]-->

       <table>
     <form action="{{ path('aportes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(pension_form) }}>
     <input type="hidden" name="_method" value="PUT" />
     {{ form_errors(pension_form) }}
    <tr>
        <td>Refencia:</td>
        <td>{{ form_widget(pension_form.Referencia)}}</td>
    </tr>
    <tr>
        <td>Valor:</td>
         <td>{{ form_widget(pension_form.valor)}}</td>
     <tr/>

     <tr>
        <td></td> 
        <td><button type="hidden">Guardar</button></td>
    </tr>
      {{ form_widget(pension_form._token) }}
  </form>
</table>                   
                  
                  
{% endblock %}
