{% extends '::baseaportes.html.twig' %}
{% block body -%}
       <table>
      {%if error %}     
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
     <form action="{{ path('aportes_updatesalud', { 'id': entity.id }) }}" method="post" {{ form_enctype(salud_form) }}>
     <input type="hidden" name="_method" value="PUT" />
     {{ form_errors(salud_form) }}
        <tr>
        <td>Valor:</td>
  <td>{{ form_widget(salud_form.valor, {'attr': {'onblur': "this.value=this.value.replace('.','');this.value=this.value.replace(',','');if (this.value>0){covertirNumLetras(this.value,'pmer1');}"}}) }}</td>
     <tr/>
        <tr>
        <td>Valor en letras: </td>
        <td><div id="pmer1"></div></td>
    </tr> 
     <tr>    
        <td>Refencia:</td>
        <td>{{ form_widget(salud_form.Referencia)}}</td>
    </tr>
         <tr>
        <td>Archivo soporte:</td>
        <td>{{ form_widget(salud_form.file)}}</td>
     <tr/>
     <tr>
        <td></td>
        <td><button type="hidden" class="btn btn-sm btn-primary">Guardar</button>   
 </td>
    </tr>
      {{ form_widget(salud_form._token) }}
  </form>
</table>                   
                  
{% endblock %}
