{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-sm-7">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Solicitud de Pago</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <form action="{{ path('solicitudpago_create') }}" method="post" {{ form_enctype(form) }}>


                        <div class="validation">{{ form_errors(form) }}</div>
                        <fieldset>
                    {{ form_label(form.file)}}
                    {{ form_widget(form.file)}}
                            </fieldset>
               {{form_widget(form._token)}}
                            <div class="form-actions">
                                <button type="submit" value="Crear" class="btn btn-primary">
                                    <i class="icon-cloud-upload"></i>Cargar
                                </button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block breadcumbs %}
    <ul class="record_actions">
        <li>
            <a href="#">Regresar</a>
        </li>
    </ul>
{% endblock %}