{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    	<h1>Pagos</h1>

	</div>
{% if (is_expr_granted("hasRole('ROLE_ADMIN')")) -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Perido</th>
                <th>No Contrato</th>
                <th>Valor a Pagar</th>
                <th>Numero Pago</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.contrato.estudio.contratista.documento }}</td>
                <td>{{ entity.contrato.estudio.contratista.primerApellido }}, {{ entity.contrato.estudio.contratista.primerNombre }}</td>
                <td>{% if entity.mes %}{{ entity.mes|date('M-Y') }}{% endif %}</td>
                <td>{{ entity.contrato.id }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.')  }}</td>
                <td>{{ entity.numeroPago }}</td>

                <td>

                        <a href="{{ path('pago_show', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if (is_expr_granted("hasRole('ROLE_SUPERVISOR')")) -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Perido</th>
                <th>No Contrato</th>
                <th>Valor a Pagar</th>
                <th>Numero Pago</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities if entity.contrato.supervisor.documento == app.user.username %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.contrato.estudio.contratista.documento }}</td>
                <td>{{ entity.contrato.estudio.contratista.primerApellido }}, {{ entity.contrato.estudio.contratista.primerNombre }}</td>
                <td>{% if entity.mes %}{{ entity.mes|date('M-Y') }}{% endif %}</td>
                <td>{{ entity.contrato.id }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.')  }}</td>
                <td>{{ entity.numeroPago }}</td>

                <td>
                    
                    
                    {% if entity.estado == 0 %}
                        
                    {% elseif  entity.estado == 100%}
                    
                        <a href="{{ path('pago_show', { 'id': entity.id }) }}">
                            <span class="label label-purple arrowed-in arrowed-in-right">enviado</span>
                        </a>
                    {% endif %}
                        

                        

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% if (is_expr_granted("hasRole('ROLE_CONTRATISTA')")) -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Perido</th>
                <th>No Contrato</th>
                <th>Valor a Pagar</th>
                <th>Numero Pago</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities if entity.contrato.estudio.contratista.documento == app.user.username %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.contrato.estudio.contratista.primerApellido }}, {{ entity.contrato.estudio.contratista.primerNombre }}</td>
                <td>{% if entity.mes %}{{ entity.mes|date('M-Y') }}{% endif %}</td>
                <td>{{ entity.contrato.id }}</td>
                <td>{{ entity.valor |number_format(0, ',', '.')  }}</td>
                <td>{{ entity.numeroPago }}</td>

                <td>
                    

                        <a href="{{ path('pago_show', { 'id': entity.id }) }}">
                            {% if entity.estado == 100 %}
                            <i class="icon-lock"></i>
                            {% else %}
                            <i class="icon-unlock"></i>
                            {% endif %}
                        </a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<!--
        <ul>
        <li>
            <a href="{{ path('pago_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
-->
    {% endblock %}

{% block breadcumbs %}

{% endblock %}
