{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Pagos</h1>
		{# {% if is_granted("ROLE_ADMIN") %} #}
    <a href="{{ path('cumplimiento_new') }}" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i>Certificado</a>{# {%endif%} #}
    <a href="{{ path('informe_new') }}" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i>Informe Actividades</a>{# {%endif%} #}
    <br clear="all" />
</div>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mes</th>
            <th>Valor</th>
            <th>Numeropago</th>
            <th>Estado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pago_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mes }}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.numeroPago }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pago_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pago_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pago_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
