{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    	<h1>Pagos</h1>
		{# {% if is_granted("ROLE_ADMIN") %} #}
        <a href="{{ path('informe_new') }}" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i>Informe Actividades</a>{# {%endif%} #}
        <a href="{{ path('aportes_generar', {'id': entity.id }) }}" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i>Aportes</a>{# {%endif%} #}
        <a href="{{ path('cumplimiento_new') }}" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i>Declaraci&oacute;n</a>{# {%endif%} #}
</div>
{% if (is_expr_granted("hasRole('ROLE_ADMIN')")) -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mes</th>
                <th>Valor</th>
                <th>Numeropago</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.mes %}{{ entity.mes|date('M-Y') }}{% endif %}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.numeroPago }}</td>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}

{% if (is_expr_granted("hasRole('ROLE_CONTRATISTA')")) -%}
        {% if entity.contrato.estudio.contratista.documento == app.user.username %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mes</th>
                <th>Valor</th>
                <th>Numeropago</th>
                <th>Estado</th>
                <th>Informe</th>
                <th>Aportes</th>
                <th>Declaraci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.mes %}{{ entity.mes|date('M-Y') }}{% endif %}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.numeroPago }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                    {% if entity.informe.pago is not defined or entity.informe.pago is null %}
                        <span class="label label-danger arrowed">pendiente</span>
                    {% else %}
                        <span class="label label-success arrowed-in arrowed-in-right">approved</span>
                    {% endif %}
                        
                </td>
                <td><span class="label label-danger arrowed">pendiente</span></td>
                <td><span class="label label-danger arrowed">pendiente</span></td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% endif %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pago') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pago_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
